<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<meta name="google-site-verification" content="E_bXUFDEsWM4oTRodOPpKsncVxlAr6kQVC8VQbM-WdM" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ config.asset_base_url }}/images/icon.png">

    <!-- Stylesheets and Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400italic,700|Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/main.css" />
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/animate.css">
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/animsition.min.css">
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/icomoon.css" />
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/pogo-slider.min.css">
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/colors/gold.css">
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/responsive.css">
    <link rel="stylesheet" href="{{ config.asset_base_url }}/css/mine.css">

    <!-- font awesome -->
	<link rel="stylesheet" href="{{ config.asset_base_url }}/fonts/font-awesome/css/font-awesome.min.css">

    <script src="{{ config.asset_base_url }}/js/vendor/jquery.min.js"></script>

  </head>
  <body class="boxed">

    {% block content %}{% endblock %}

  <footer class="footerWrapper footerBig">
    <div class="bgGrey">

      <div class="footerWidgets">
        <div class="row padding clearfix">

          <div class="small-12 medium-12 large-6 columns widget">
            <h6>About POWERHANDZ</h6>
            <div class="divider"></div>
            <p>POWERHANDZ is a global athletic training products company with unique patented pending products that span across several markets: basketball, football, baseball/softball, boxing/MMA and other lifestyle sports. Our products are used and endorsed by skills trainers, youth athletes, and the world’s most elite professional athletes.</p>

            <div class="row">
              <div class="small-12 medium-6 large-6 columns">
                <ul class="iconList" >
                  <li><span class="icon-angle-right"></span><a href="/about">About</a></li>
                  <li><span class="icon-angle-right"></span><a href="/team">Team</a></li>
                  <li><span class="icon-angle-right"></span><a href="https://shop.powerhandz.com">Shop</a></li>
                  <li><span class="icon-angle-right"></span><a href="/events">Events</a></li>
                  <li><span class="icon-angle-right"></span><a href="https://blog.powerhandz.com">Blog</a></li>
                  <li><span class="icon-angle-right"></span><a href="/contact">Contact</a></li>
                </ul>
              </div>

              <div class="small-12 medium-6 large-6 columns">
                <ul class="iconList">
                    <!-- <li><span class="icon-angle-right"></span><a href="/power-to-give">Power To Give</a></li> -->
                  <li><span class="icon-angle-right"></span><a href="/press">Press</a></li>
                  <li><span class="icon-angle-right"></span><a href="/affiliates">Affiliate Program</a></li>
                  <li><span class="icon-angle-right"></span><a href="https://shop.powerhandz.com/pages/terms-of-service">Terms of Service</a></li>
                  <li><span class="icon-angle-right"></span><a href="https://shop.powerhandz.com/pages/privacy-policy/">Privacy Policy</a></li>
                  <li><span class="icon-angle-right"></span><a href="https://shop.powerhandz.com/pages/return-exchange-policy/">Returns / Exchanges</a></li>
                </ul>
              </div>

            </div>

            <div><a class="link" href="https://shop.powerhandz.com">Visit Our Shop</a></div>
          </div>

          <div class="small-12 medium-6 large-3 columns widget">
            <!-- <h6>Latest Tweets</h6>
            <div class="divider"></div>

            <ul id="twitter-widget" class="iconList twitter-feed">
                <li class="txtWhite"></li>
            </ul>

            <script type="text/javascript">
                jQuery( function($){
                    $.getJSON('include/twitter/tweets.php?username=POWERHANDZ&count=2', function(tweets){
                          $("#twitter-widget").html(sm_format_twitter(tweets));
                        });
                    });
            </script> -->

          </div>

          <div class="small-12 medium-6 large-3 columns widget">
            <h6>Find Us</h6>
            <div class="divider"></div>

            <p>2633 McKinney Ave<br>Ste 130 #255<br>Dallas, TX 75204<br>888-724-1106</p>

          </div>

        </div>
      </div>

      <div class="row footerSmall">
        <div class="small-12 medium-12 large-6 columns">
          <p class="smallText">&copy; 2017 POWERHANDZ. All rights reserved.</p>
        </div>

        <div class="small-12 medium-12 large-6 columns">
          <div class="socialIcons">
            <a href="https://twitter.com/powerhandz"><span class="icon-twitter"></span></a>
            <a href="https://www.facebook.com/PowerHandzInc"><span class="icon-facebook"></span></a>
            <a href="https://instagram.com/powerhandz"><span class="icon-instagram"></span></a>
            <a href="https://www.youtube.com/channel/UCdjZ_Du0CpDZSpLTjCC11BA"><span class="icon-youtube"></span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#0" class="backTop">Top</a>

  <!-- Scripts -->
  <script src="{{ config.asset_base_url }}/js/vendor/modernizr.js"></script>
  <script src="{{ config.asset_base_url }}/js/vendor/what-input.min.js"></script>
  <script src="{{ config.asset_base_url }}/js/foundation.min.js"></script>
  <script src="{{ config.asset_base_url }}/js/plugins.js"></script>
  <script src="{{ config.asset_base_url }}/js/functions.js"></script>
  <script src="{{ config.asset_base_url }}/js/ajax-form.js"></script>

  <!-- retina addition -->
  <script src="{{ config.asset_base_url }}/js/retina.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52467503-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>

</html>
