{% extends 'layouts/base.html' %}

{% block meta_description %}Train with POWERHANDZ. Train with purpose! POWERHANDZ's line of weighted gloves and sports training equipment include basketball dribbling training gloves, football gloves, weighted batting gloves, weighted boxing gloves, popup defenders and more. Take your game to the next level with POWERHANDZ.{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Premier Weighted Gloves & Sports Training Equipment | About POWERHANDZ{% endblock %}
{% block content %}
<style>
  h1 {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
  }

  h2 {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  article {
    padding: 50px 25px;
    background: white;
  }
</style>
{% include 'includes/top-bar.html' %}
<article>
  <div class="mainWrapper">
    <p> APRIL 24, 2018<br>FOR IMMEDIATE RELEASE</p>
    <h1>POWERHANDZ & THE POWER TO GIVE FOUNDATION PUTS HEART BACK INTO SPORTS DURING NFL DRAFT 2018</h1>
    <h2>POWERHANDZ & the Power to Give Foundation partner with NFL Legends & Vincent Country for Community Safe Zone</h2>
    </p>
    <p>Dallas, TX – Global athletic training products company, POWERHANDZ and its Power To Give Foundation 501(c)(3) will partner with the NFLPA and Vincent Country during several NFL Draft events. NFL Legend Troy Vincent and his wife Tommi kick off the events at St. Philip’s School for a Safe Zone Activity Day with youth from St. Philip’s School and local YMCAs on Tuesday April 24, 2018 at 4:30pm CST. Kids will enjoy food, face painting, sporting activities led by over 25 NFL Legends, current NFL athletes and training sessions with POWERHANDZ Weighted Anti-Grip Football Gloves and Pop Up Defenders.</p>
    <p>Later in the week POWERHANDZ will participate as a sponsor of the NFLPA Debut, a private event for 25 select athletes. “Our partnership with the NFLPA and Vincent Country will ensure we touch youth in underserved communities and introduce POWERHANDZ to some of the top athletes,” says Danyel Surrency Jones, CEO of POWERHANDZ and President of Power To Give Foundation.</p>

    <h3>About Power to Give</h3>
    <p>The Power to Give Foundation is a 501(c)(3) non-profit corporation of POWERHANDZ. A percentage of every POWERHANDZ product sold supports a mission of building athletic programs in underserved communities to increase a commitment to athletic and academic excellence. Every child should have an opportunity to experience the life long benefits gained from playing sports.</p>

    <h3>About POWERHANDZ</h3>
    <p>Based out of Dallas, Texas, POWERHANDZ includes a line of performance enhancing athletic training products innovatively designed to both strengthen hand and arm muscles and intensify players’ dexterity. There are nine products in the portfolio designed for basketball, baseball/softball, football, boxing/MMA, and lifestyle sports. These products are sold worldwide and are used by athletes of all different skill levels, youth to professionals. All of the products are available on powerhandz.com.</p>
    <p><a href="https://twitter.com/powerhandz" target="_blank">Twitter: @POWERHANDZ</a> | <a href="https://www.facebook.com/PowerHandzInc" target="_blank">Facebook</a> | <a href="https://instagram.com/powerhandz" target="_blank">Instagram</a></p>

    <h3>Additional Information</h3>
    <p>The POWERHANDZ Football Collection includes the patented Anti Grip Weighted Gloves and a patent pending Pop-Up Defender.</p>
    <p>The POWERHANDZ Anti-Grip Weighted Training Gloves have weight distributed across the top- side of the glove and an anti-friction material on the palm side of the glove, making it more difficult to catch a football when training.</p>

    <h3>Product Launches</h3>
    <h4>POWERHANDZ POWERFIT</h4>
    <p>The POWERHANDZ POWER FIT Training Gloves have weight strategically distributed across the topside of the Gloves along with a grip material on the palm that is reinforced with foam gel padding. These gloves are suitable for any type of fitness training: weight-lifting, cross-training, cycling, and general workouts. The weight resistance on the gloves improves strength, while the foam gel provides protection from calluses and blisters.</p>
    <p>For new products and launches visit: <a href="https://powerhandz.com">https://powerhandz.com</a></p>
    <em>Media Contact</em>
    <p>Shelby Smith<br>
    Phase Global Management<br>
    <a href="mailto:info@phaseglobalmanagement.com">info@phaseglobalmanagement.com</a><br>
    <a href="tel:+14698318552">(469) 831-8552</a></p>

    <h3>POWERHANDZ</h3>
    <em>Media Contact</em>
    <p>Aaron Zack<br>
    <a href="mailto:azack@powerhandz.com">azack@powerhandz.com</a><br>
    <a href="tel:+18887241106">(888) 724-1106</a></p>
  </div>
</article>
{% endblock %}
