      <div class="row stretched" data-equalizer data-equalize-on="large" >
         <div class="small-12 medium-12 large-4 columns noPadding">
            <div class="bgBlack" data-equalizer-watch style="background-color:#2A2B2F!important;padding-top:3em;">
                  <div class="small-12 columns" style="background-color:#2A2B2F!important;padding-left:2em!important;">
                     <h3>POWERHANDZ is committed to being more than just a sports training company.</h3>
                     <div class="divider"></div>
                     <a class="link" href="/about">More About POWERHANDZ <span class="icon-arrow-right"></span></a>
                  </div>
            </div>
         </div>
         <div class="small-12 medium-12 large-8 columns">
            <!-- Image Grid Boxes Start -->
            <div class="row">
               <div class="imageBoxes clearfix">
                  <div class="small-12 medium-4 large-4 columns noPadding">
                     <a href="/our-time" class="relPosition" data-equalizer-watch>
                        <div style="background-image: url({{ config.ASSET_BASE_URL }}/images/box1.jpg);"></div>
                        <div class="imageBoxDesc">
                           <div class="imageBoxesTitle">
                              <span>Our Time</span>
                              <div class="divider"></div>
                           </div>
                           <p class="smallText">Women can achieve the impossible. Women have a heart that never stops beating. Women persevere beyond their circumstances. Athletes aren’t women, women are athletes.</p>
                        </div>
                     </a>
                  </div>
                  <div class="small-12 medium-4 large-4 columns noPadding">
                     <a href="/power-to-give" class="relPosition" data-equalizer-watch>
                        <div style="background-image: url({{ config.ASSET_BASE_URL }}/images/box2.jpg);"></div>
                        <div class="imageBoxDesc">
                           <div class="imageBoxesTitle">
                              <span>POWER to GIVE</span>
                              <div class="divider"></div>
                           </div>
                           <p class="smallText">We carry out our vision through programs that enhance success in both academics and athletics and that provide life skills and leadership training, promoting our core values of community service.</p>
                        </div>
                     </a>
                  </div>
                  <div class="small-12 medium-4 large-4 columns noPadding">
                     <a href="/handz-of-the-future" class="relPosition" data-equalizer-watch>
                        <div style="background-image: url({{ config.ASSET_BASE_URL }}/images/box3.jpg);"></div>
                        <div class="imageBoxDesc">
                           <div class="imageBoxesTitle">
                              <span>Handz of the Future</span>
                              <div class="divider"></div>
                           </div>
                           <p class="smallText">I am a youth athlete. I believe in my talent but I am coachable. I am strong but I know my strength comes from my heart and training. I am on a journey to be the HANDZ of the FUTURE.</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <!-- Image Grid Boxes End -->
         </div>
      </div>
