




      <!-- Testimonials Scroller Start -->
      <div class="bgWhite">
        <div class="row padding clearfix">
          <div class="small-12 medium-10 large-9 small-centered columns">

            <!-- Testimonials Scroller -->
            <div id="testimonialScroller" class="owl-carousel row">

              <!-- #1 Testimonial -->
              <div class="item small-12 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-it.jpg" alt="Isaiah Thomas Testimonial">
                </div>
                <div class="testimonContent">
                  <p>Working hard and pushing my limits have gotten me to where I am today. I am always looking to have the competitive edge, and using POWERHANDZ as part of my training has helped make my ball-handling more explosive yet controlled.</p>
                </div>
                <div class="testimonMeta">
                  Isaiah Thomas
                  <span>NBA Point Guard</span>
                </div>
              </div>

              <!-- #2 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-lc.jpg" alt="Lauren Chamberlain Testimonial">
                </div>
                <div class="testimonContent">
                  <p>I always want to have a competitive edge over my opponents, and Powerhandz helps me do just that. My swing feels smooth, powerful, and explosive after training with this incredible tool.</p>
                </div>
                <div class="testimonMeta">
                  Lauren Chamberlain
                  <span>Professional Softball Player</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-ward.jpg" alt="Andre Ward">
                </div>
                <div class="testimonContent">
                  <p>Boxing requires discipline, focus and precision while training. If you want to take your training and skills to the next level, POWERHANDZ is by far the best product out there.</p>
                </div>
                <div class="testimonMeta">
                  Andre Ward
                  <span>Professional Boxer</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-wilcox.jpg" alt="JJ Wilcox Testimonial">
                </div>
                <div class="testimonContent">
                  <p>The last thing you want to do is drop balls or fumble. Why not use the POWERHANDZ slick ball wrap when you train in order to increase concentration and dexterity for game time.</p>
                </div>
                <div class="testimonMeta">
                  JJ Wilcox
                  <span>NFL Dallas Cowboys</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-price.jpg" alt="Ronnie Price Testimonial">
                </div>
                <div class="testimonContent">
                  <p>The POWERHANDZ AntiGrip Gloves are by far the most challenging dribbling product I’ve ever used and it's amazing how quick you see the result…I believe its the best product out there.</p>
                </div>
                <div class="testimonMeta">
                  Ronnie Price
                  <span>NBA</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-sloan.jpg" alt="Donald Sloan Testimonial">
                </div>
                <div class="testimonContent">
                  <p>POWERHANDZ is by far the best ball handling product in the game right now if you want total control and confidence in your ability to handle the rock like some of the leagues best. POWERHANDZ is that next step to get you there.</p>
                </div>
                <div class="testimonMeta">
                  Donald Sloan
                  <span>NBA Indiana Pacers</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-dawkins.jpg" alt="Brian Dawkins Testimonial">
                </div>
                <div class="testimonContent">
                  <p>Certain things aren’t in your control. Your work ethic and what you choose to do to take your skills to the next level are. POWERHANDZ products will assist you in developing those skills and revealing the true potential that lies within.</p>
                </div>
                <div class="testimonMeta">
                  Brian Dawkins
                  <span>Former NFL Professional, Current ESPN Analyst</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-burgos.jpg" alt="Bill Burgos Testimonial">
                </div>
                <div class="testimonContent">
                  <p>POWERHANDZ is a great tool to add into any Strength Coach or Athletic Trainers' workbox. It provides the necessary proprioceptive training along with the development of strength in the 9 extrinsic and 10 intrinsic muscles of the hand/wrist. As a Strength Coach, my goal is to help make every athlete better, and I believe that POWERHANDZ can help me achieve that goal by ensuring that we can cover all aspects of training.</p>
                </div>
                <div class="testimonMeta">
                  Bill Burgos
                  <span>NBA Strength and Conditioning Coach</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-anderson.jpg" alt="Brian Anderson Testimonial">
                </div>
                <div class="testimonContent">
                  <p>Unlike any other products on the market, POWERHANDZ "Pure Grip" gloves give you the ability to add weight to your bat while taking live batting practice. This product not only increases bat speed but also allows you to use your hand eye coordination.</p>
                </div>
                <div class="testimonMeta">
                  Brian Anderson
                  <span>Former MLB White Sox & Red Sox</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-brown.jpg" alt="Tim Brown">
                </div>
                <div class="testimonContent">
                  <p>Your natural abilities will only take you so far. It’s hard work, both at practice and on your own, that helps you become the greatest player you can be,” said Brown. “I am excited to team up with POWERHANDZ and spread the word about their great products.  Playing receiver for 27 years, including 17 in the NFL, I can see how this product could have made me better. I look forward to seeing this great teaching tool impact athletes lives.</p>
                </div>
                <div class="testimonMeta">
                  Tim Brown
                  <span>Former NFL Professional</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-relph.jpg" alt="Tyler Relph Testimonial">
                </div>
                <div class="testimonContent">
                  <p>My number one goal is to help players gain and keep a competitive edge. POWERHANDZ is by far the best training product for basketball players I have seen on the market. It’s not only a great ball handling tool, but it’s great for big guys too, as it helps with hands and explosion with the ball. I incorporate these products into my drills and they have truly been a game changer.</p>
                </div>
                <div class="testimonMeta">
                  Tyler Relph
                  <span>Elite Basketball Trainer</span>
                </div>
              </div>

              <!-- #3 Testimonial -->
              <div class="item small-10 small-centered medium-10 large-11 columns">
                <div class="testimonImg">
                  <img src="{{ config.asset_base_url }}/images/quote-dribble2much.jpg" alt="Dribble2much Testimonial"
                </div>
                <div class="testimonContent">
                  <p>When I started using POWERHANDZ on myself and on my clients, I was amazed by the instant results and how the products intensified my training. I love this game and I love seeing hard work and tactical training with POWERHANDZ products, make a direct impact on these players. I’m excited to be apart of their team.</p>
                </div>
                <div class="testimonMeta">
                  Dribble2much
                  <span>Elite Basketball Trainer</span>
                </div>
              </div>



            </div>

            <script type="text/javascript">
              $(document).on('ready', function() {

                var owlPost = $("#testimonialScroller");

                  owlPost.owlCarousel({
                    pagination: true,
                    navigation: true,
                    navigationText: ['<span class="icon-angle-left"></span>','<span class="icon-angle-right"></span>'],
                    autoPlay: 5000,
                    stopOnHover: true,
                    navRewind: false,
                    singleItem: true,
                    slideSpeed: 1000
                  });

                });
            </script>
            <!-- Testimonial Scroller End -->

          </div>
        </div>
      </div>

