<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://assets.powerhandz.com/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="https://assets.powerhandz.com/css/404.style.css"> <!-- Resource style -->
   	
	<title>Page Not Found | POWERHANDZ</title>
	<style>
 	
	video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover; 
}
 	</style>
	
</head>
<body style="background-color: #111111;">
	<video autoplay loop id="bgvid">
      <source src="https://assets.powerhandz.com/videos/powerhandz-demo.webm" type="video/webm">
      <source src="https://assets.powerhandz.com/videos/powerhandz-demo.mp4" type="video/mp4">
	</video>
	<div style="padding-top: 20%;text-align: center;margin-left: auto;margin-right: auto;width: 20em;">
 	 	<p style="font-size:4em; color:#ffffff!important;">404 ERROR</p>
		<p style="padding-top:1em;padding-bottom:2em;font-size:1em; color:#ffffff!important;">The page you're looking for does not exist.</p>
		<div class="action-wrapper">
			<a href="/" class="cd-btn main-action" style="background-color: #bf9b41;">Go Home</a>
			<a href="https://shop.powerhandz.com" class="cd-btn" style="background-color: #ffffff;color: #111111;">Go to Shop</a>
		</div>

	</div>

</body>
</html>
