{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}About | POWERHANDZ{% endblock %}
{% block content %}
   {% include 'includes/top-bar.html' %}
<style>

.marketing-site-hero {
  background: url({{ config.asset_base_url }}/images/about-hero.jpg) top right no-repeat;
  height: 60vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin-left:0px!important;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  color: #ffffff!important;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

</style>

   <div class="heroWrapper relPosition">
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>ABOUT POWERHANDZ</h1>
    <div class="divider"></div>
    <p style="color:#ffffff;padding:0.1em 0em 1.2em 0em;max-width:450px;" class="subheader">Our products are used and endorsed by skills trainers, youth athletes and the world’s most elite professional athletes.</p>
    <a href="https://shop.powerhandz.com" class="button btnWhite hollow">SHOP NOW</a>
  </div>
</div>

   </div>

      <!-- Intro -->
      <div class="bgWhite">
        <div class="row padding clearfix">

          <div class="small-12 medium-10 large-8 small-centered columns">
            <h5 class="text-center">Sports Gloves and Athletic Training Products</h5>
            <div class="dividerCenter"></div>
            <h3 class="text-center">POWERHANDZ are performance-enhancing sports gloves and athletic training products innovatively designed to both strengthen hand and arm muscles and intensify players’ dexterity.</h3>

          </div>
        </div>
      </div>


<style>
.clientsGrid li, .testimonialsGrid li
{padding: 4px 14px;
}
</style>



   <div class="bgWhite">
      <div class="row relPosition stretched" >
         <div class="small-12 medium-4 large-4 columns">
            <div id="hoverbar">
            </div>
            <div class="card-product-hover">
               <img content src="{{ config.asset_base_url }}/images/Anti-Grip-Clear.jpg" >
               <div class="card-product-hover-icons">
                  <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star-o"></i></a>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.color_main = "111111";
a2a_config.color_border = "000000";
a2a_config.color_link_text = "ffffff";
a2a_config.color_link_text_hover = "fefefe";
a2a_config.color_bg = "111111";
a2a_config.color_arrow = "fff";
a2a_config.color_arrow_hover = "fff";
a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
               </div>
            </div>
         </div>
         <div class="small-12 medium-8 large-8 columns">
            <div class="littleroom">
               <div class="row">
                  <div class="small-12 columns">
                     <ul class="accordion no-bullet" data-accordion data-allow-all-closed="true">
                        <h3 style="padding-left:15px;padding-top:15px;"><strong>Weighted Anti-Grip Training Gloves</strong>
                           <span style="display:inline;float:right;"><a class="button btnBlack hollow small show-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i>Shop</a></span>
                           <span style="display:inline;float:right;"><a class="hide-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i></a></span>
                        </h3>
                        <li class="accordion-item is-active" data-accordion-item>
                           <a class="accordion-title">Product Features</a>
                           <div class="accordion-content" data-tab-content>
                              <p>POWERHANDZ Anti Grip Weighted Training Gloves features weight strategically placed around flex points on the top side of the glove, stretch fabric and an anti-grip material on the palm side of the glove. The slippery fabric makes it more difficult to catch and maintain control of a ball. Ideal for football and basketball training. Up to 2 LB in weight for each pair based on size.</p>
                           </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                           <a class="accordion-title">Select Your Sport</a>
                           <div class="accordion-content" data-tab-content>
                              <ul class="row small-up-2 medium-up-4 large-up-4 clientsGrid">
								  <a href="/basketball"><li>Basketball</li></a>
								  <a href="/football"><li>Football</li></a>
								  <a href="/baseball"><li>Baseball</li></a>
								  <a href="/softball"><li>Softball</li></a>
								  <a href="/boxing-mma"><li>Boxing / MMA</li></a>
								  <a href="/golf"><li>Golf</li></a>
								  <a href="/lifestyle"><li>Lifestyle</li></a>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>

   <div class="bgWhite">
      <div class="row relPosition stretched" >
         <div class="small-12 medium-4 large-4 columns">
            <div id="hoverbar">
            </div>
            <div class="card-product-hover">
               <img content src="{{ config.asset_base_url }}/images/Pure-Grip-Clear.jpg" >
               <div class="card-product-hover-icons">
                  <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star-o"></i></a>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.color_main = "111111";
a2a_config.color_border = "000000";
a2a_config.color_link_text = "ffffff";
a2a_config.color_link_text_hover = "fefefe";
a2a_config.color_bg = "111111";
a2a_config.color_arrow = "fff";
a2a_config.color_arrow_hover = "fff";
a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
               </div>
            </div>
         </div>
         <div class="small-12 medium-8 large-8 columns">
            <div class="littleroom">
               <div class="row">
                  <div class="small-12 columns">
                     <ul class="accordion no-bullet" data-accordion data-allow-all-closed="true">
                        <h3 style="padding-left:15px;padding-top:15px;"><strong>Weighted Pure-Grip Training Gloves</strong>
                           <span style="display:inline;float:right;"><a class="button btnBlack hollow small show-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i>Shop</a></span>
                           <span style="display:inline;float:right;"><a class="hide-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i></a></span>
                        </h3>
                        <li class="accordion-item is-active" data-accordion-item>
                           <a class="accordion-title">Product Features</a>
                           <div class="accordion-content" data-tab-content>
                              <p>Created for the ultimate grip, the POWERHANDZ Regular Grip Weighted Training Gloves combines weight strategically placed around flex points on the top side of the glove and sheepskin leather on the palm. This glove would be used for any sport that requires an athlete to handle a bat or stick. Ideal for baseball or any lifestyle sporting activity. Up to 2 LB in weight for each pair based on size.</p>
                           </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                           <a class="accordion-title">Select Your Sport</a>
                           <div class="accordion-content" data-tab-content>
                              <ul class="row small-up-2 medium-up-4 large-up-4 clientsGrid">
								  <a href="/basketball"><li>Basketball</li></a>
								  <a href="/football"><li>Football</li></a>
								  <a href="/baseball"><li>Baseball</li></a>
								  <a href="/softball"><li>Softball</li></a>
								  <a href="/boxing-mma"><li>Boxing / MMA</li></a>
								  <a href="/golf"><li>Golf</li></a>
								  <a href="/lifestyle"><li>Lifestyle</li></a>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>

   <div class="bgWhite">
      <div class="row relPosition stretched" >
         <div class="small-12 medium-4 large-4 columns">
            <div id="hoverbar">
            </div>
            <div class="card-product-hover">
               <img content src="{{ config.asset_base_url }}/images/powerarch-clear.jpg" >
               <div class="card-product-hover-icons">
                  <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star-o"></i></a>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.color_main = "111111";
a2a_config.color_border = "000000";
a2a_config.color_link_text = "ffffff";
a2a_config.color_link_text_hover = "fefefe";
a2a_config.color_bg = "111111";
a2a_config.color_arrow = "fff";
a2a_config.color_arrow_hover = "fff";
a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
               </div>
            </div>
         </div>
         <div class="small-12 medium-8 large-8 columns">
            <div class="littleroom">
               <div class="row">
                  <div class="small-12 columns">
                     <ul class="accordion no-bullet" data-accordion data-allow-all-closed="true">
                        <h3 style="padding-left:15px;padding-top:15px;"><strong>POWERARCH</strong>
                           <span style="display:inline;float:right;"><a class="button btnBlack hollow small show-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i>Shop</a></span>
                           <span style="display:inline;float:right;"><a class="hide-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i></a></span>
                        </h3>
                        <li class="accordion-item is-active" data-accordion-item>
                           <a class="accordion-title">Product Features</a>
                           <div class="accordion-content" data-tab-content>
                              <p>The POWERARCH is a first of its kind training accessory designed to force a ball handler on the basketball court to stay low with their dribble. Previously, athletes were forced to use chairs or other items not designed for ball handling to work on staying low with their dribble.</p>
                           </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                           <a class="accordion-title">Select Your Sport</a>
                           <div class="accordion-content" data-tab-content>
                              <ul class="row small-up-2 medium-up-4 large-up-4 clientsGrid">
								  <a href="/basketball"><li>Basketball</li></a>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>
   <div class="bgWhite">
      <div class="row relPosition stretched" >
         <div class="small-12 medium-4 large-4 columns">
            <div id="hoverbar">
            </div>
            <div class="card-product-hover">
               <img content src="{{ config.asset_base_url }}/images/popup-clear.jpg" >
               <div class="card-product-hover-icons">
                  <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-star-o"></i></a>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.color_main = "111111";
a2a_config.color_border = "000000";
a2a_config.color_link_text = "ffffff";
a2a_config.color_link_text_hover = "fefefe";
a2a_config.color_bg = "111111";
a2a_config.color_arrow = "fff";
a2a_config.color_arrow_hover = "fff";
a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
               </div>
            </div>
         </div>
         <div class="small-12 medium-8 large-8 columns">
            <div class="littleroom">
               <div class="row">
                  <div class="small-12 columns">
                     <ul class="accordion no-bullet" data-accordion data-allow-all-closed="true">
                        <h3 style="padding-left:15px;padding-top:15px;"><strong>POPUP DEFENDER</strong>
                           <span style="display:inline;float:right;"><a class="button btnBlack hollow small show-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i>Shop</a></span>
                           <span style="display:inline;float:right;"><a class="hide-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i></a></span>
                        </h3>
                        <li class="accordion-item is-active" data-accordion-item>
                           <a class="accordion-title">Product Features</a>
                           <div class="accordion-content" data-tab-content>
                              <p>POWERHANDZ Pop Up Defender is a compressed, collapsible 3-foot-5 statue that can be used as a defender for basketball, football and soccer. The innovative Pop Up Defender easily collapses and contains storage space inside, making it the perfect choice for coaches and athletes to take with them to simulate real live defenders on the field or court.</p>
                           </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                           <a class="accordion-title">Select Your Sport</a>
                           <div class="accordion-content" data-tab-content>
                              <ul class="row small-up-2 medium-up-4 large-up-4 clientsGrid">
								  <a href="/basketball"><li>Basketball</li></a>
								  <a href="/football"><li>Football</li></a>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>
            <div class="bgWhite">
                <div class="row relPosition stretched">
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="card-product-hover">
                            <img src="{{ config.asset_base_url }}/images/Dribble-Sleeve-Clear.jpg">
                            <div class="card-product-hover-icons">
                                <a href="https://shop.powerhandz.com/products/dribblesleeve"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="https://shop.powerhandz.com/products/dribblesleeve#reviews"><i class="fa fa-star-o"></i></a>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt"></i></a>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.color_main = "111111";
a2a_config.color_border = "000000";
a2a_config.color_link_text = "ffffff";
a2a_config.color_link_text_hover = "fefefe";
a2a_config.color_bg = "111111";
a2a_config.color_arrow = "fff";
a2a_config.color_arrow_hover = "fff";
a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
                            </div>
                        </div>

                    </div>
                    <div class="small-12 medium-8 large-8 columns">
                        <div class="littleroom">
                            <div class="row">
                                <div class="small-12 columns">
                                    <ul class="accordion no-bullet" data-accordion data-allow-all-closed="true">
                                        <h3 style="padding-left:15px;padding-top:15px;"><strong>Dribble Sleeve</strong>
                           <span style="display:inline;float:right;"><a class="button btnBlack hollow small show-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i>Shop</a></span>
                           <span style="display:inline;float:right;"><a class="hide-for-large" href="https://shop.powerhandz.com/"><i class="iconLeft icon-cart"></i></a></span>
                        </h3>
                                        <li class="accordion-item is-active" data-accordion-item>
                                            <a class="accordion-title">Product Features</a>
                                            <div class="accordion-content" data-tab-content>
                                                <p>POWERHANDZ Anti-Grip Removable basketball wrap is placed around the circumference of a basketball, decreasing control when dribbling or catching the ball.</p>
                                                <!-- <ul class="iconList">
                                                    <li><span class="icon-circle-plus coloredText"></span>Designed to improve ball handling For athletes of all ages and levels</li>
                                                    <li><span class="icon-circle-plus coloredText"></span>Enhances ball handling confidence</li>
                                                    <li><span class="icon-circle-plus coloredText"></span>Reduces grip by eliminating the feel of the rubber and leather on the balls outer surface</li>
                                                </ul> -->
                                            </div>
                                        </li>
                                        <li class="accordion-item" data-accordion-item>
                                            <a class="accordion-title">Specifications</a>
                                            <div class="accordion-content" data-tab-content>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li class="accordion-item" data-accordion-item>
                                            <a class="accordion-title">Product Sizing</a>
                                            <div class="accordion-content" data-tab-content>
                                                <p><img src="{{ config.asset_base_url }}/images/PH-Chart-Wrap.jpg" /> </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a name="reviews"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

   {% include 'includes/testimonials.html' %}
      <!-- CTA Section Starts -->
      <div class="bgColor">
         <div class="row padding cta">
            <div class="small-12 medium-10 large-8 small-centered columns">
               <h4 class="text-center">Are you ready to take your game to the next level?</h4>
               <div class="row ctaBtns">
                  <div class="small-8 medium-5 large-4 small-centered columns wow fadeInUp">
                     <a href="https://shop.powerhandz.com" class="button expanded btnBlack">SHOP NOW</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CTA Section Ends -->

<script type="text/javascript">

$(document).ready(function () {

    $('#heroSlider').pogoSlider({
        autoplay: false,
        pauseOnHover: true,
        displayProgess: false,
        preserveTargetSize: false,
        targetHeight: 4300,
        responsive: true
    }).data('plugin_pogoSlider');

});

</script>
   {% include 'includes/stats.html' %}
   {% include 'includes/press.html' %}
{% endblock %}
