{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Contact | POWERHANDZ{% endblock %}
{% block content %}
   <div class="animsition">
   {% include 'includes/top-bar.html' %}
<style>

.marketing-site-hero {
  background: url("{{ config.ASSET_BASE_URL }}/images/about-hero.jpg") top right no-repeat;
  height: 60vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin-left:0px!important;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  color: #ffffff!important;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}



</style>

    <div class="heroWrapper relPosition">
        <div class="marketing-site-hero">
          <div class="marketing-site-hero-content">
            <h1>Contact Us</h1>
            <div class="divider"></div>
            <p style="color:#ffffff;padding:0.1em 0em 1.2em 0em;max-width:450px;" class="subheader">We would love the opportunity to speak with you about your training goals. Please leave a note below, and we'll get back to you shortly.</p>
            <a href="/about" class="button btnWhite hollow">About POWERHANDZ</a>
          </div>
        </div>
    </div>

      <!-- Intro -->

    <div class="bgWhite">
        <div class="row padding clearfix">

        <div class="small-12 medium-4 large-4 columns">
        <div class="padding">
              <h5>Contact Us</h5>
              <div class="divider"></div>
              <ul class="contactList no-bullet">
                <li>2633 McKinney Ave<br>Ste 130 #255<br>Dallas, TX 75204</li>
                <li>888-724-1106</li>
                <li><a class="link" href="mailto:'info@powerhandz.com'">info@powerhandz.com</a></li>
              </ul>
        </div>

        </div>
          <div class="small-12 medium-8 large-8 columns">
              <div class="padding">
              <h5>Leave A Message</h5>
              <div class="divider"></div>
                <div id="contact">

                {% if success %}

                <div style="background: green; color: white; padding: 10px; margin:0; margin-bottom: 25px;">
                    Thank you for your message. We'll get back to you shortly.
                </div>
                {% endif %}

                {% if form.errors %}

                <ul class="errors" style="list-style-type: none; padding: 0; margin:0; margin-bottom: 25px;">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li style="background: #dc3545; color: white; padding: 10px; margin-bottom: 5px;">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
                {% endif %}

                  <form action="{{ url_for('contact') }}" method="post">
                    {{ form.hidden_tag() }}

                    {{ form.name }}

                    {{ form.email }}

                    {{ form.company }}

                    {{ form.website }}

                    {{ form.message }}

                    {{ form.submit(class_="button btnBlack") }}
                  </form>

                </div>
            </div>
          </div>
        </div>
      </div>
   {% include 'includes/programs.html' %}
<style>
.clientsGrid li, .testimonialsGrid li
{padding: 4px 14px;
}
</style>
   {% include 'includes/press.html' %}
{% endblock %}
