{% extends 'layouts/base.html' %}

{% block meta_description %}{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Brian Dawkins Go Gold Giveaway | POWERHANDZ{% endblock %}
{% block content %}
  {% include 'includes/top-bar.html' %}

  <div class="footerWrapper">
    <div class="row text-center" style="background: url('{{ config.ASSET_BASE_URL }}/images/steel-background.jpg') center center no-repeat; padding: 25px;">
      <h2 style="color: white; margin: 25px;">Brian Dawkins Go Gold Giveaway</h2>
      <div align="center"><a href="https://promosimple.com/ps/d430/brian-dawkins-giveaway-august-2018" data-campaign="d430" class="promosimple"></a><script type="text/javascript" src="https://promosimple.com/api/1.0/campaign/d430/iframe-loader"></script></div>
    </div>
  </div>

{% endblock %}
