{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Events | POWERHANDZ{% endblock %}
{% block content %}
   {% include 'includes/top-bar.html' %}
<style>

.marketing-site-hero {
  background: url("https://assets.powerhandz.com/images/about-hero.jpg") top right no-repeat;
  height: 60vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin-left:0px!important;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  color: #ffffff!important;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

</style>

   <div class="heroWrapper relPosition">
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>POWERHANDZ EVENTS</h1>
    <div class="divider"></div>
    <p style="color:#ffffff;padding:0.1em 0em 1.2em 0em;max-width:450px;" class="subheader">Check out all of our events coming up. We host and attend events all around the country. Any questions - contact us below.</p>
    <a href="https://powerhandz.com/contact" class="button btnWhite hollow">Contact Us</a>
  </div>
</div>

   </div>

<style>
.clientsGrid li, .testimonialsGrid li
{padding: 4px 14px;
}
</style>

   <div class="bgWhite">
<iframe src="http://www.eventbrite.com/o/powerhandz-8636333093" style="border: 0; width: 100%!important; margin-top:-60px;margin-bottom:0px;bottom:0px;height:auto;min-height:900px;" seamless="seamless">Your browser doesn't support iFrames.</iframe>
   </div>

   {% include 'includes/testimonials.html' %}
      <!-- CTA Section Starts -->
      <div class="bgColor">
         <div class="row padding cta">
            <div class="small-12 medium-10 large-8 small-centered columns">
               <h4 class="text-center">Are you ready to take your game to the next level?</h4>
               <div class="row ctaBtns">
                  <div class="small-8 medium-5 large-4 small-centered columns wow fadeInUp">
                     <a href="https://shop.powerhandz.com" class="button expanded btnBlack">SHOP NOW</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CTA Section Ends -->

<script type="text/javascript">

$(document).ready(function () {

    $('#heroSlider').pogoSlider({
        autoplay: false,
        pauseOnHover: true,
        displayProgess: false,
        preserveTargetSize: false,
        targetHeight: 4300,
        responsive: true
    }).data('plugin_pogoSlider');

});
</script>
   {% include 'includes/stats.html' %}
   {% include 'includes/press.html' %}
{% endblock %}
