{% extends 'layouts/base.html' %}

{% block meta_description %}Train with purpose using POWERHANDZ weighted gloves and sports training equipment. POWERHANDZ Weighted workout gloves are designed as basketball dribbling training gloves, football gloves, weighted batting gloves, weighted boxing gloves and more. Take your game to the next level with POWERHANDZ.{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Weighted Gloves & Equipment for Sports Training Workouts | POWERHANDZ{% endblock %}
{% block content %}
   {% include 'includes/top-bar.html' %}
   <div class="heroWrapper relPosition">
      <!-- Hero Banner Starts -->
      <div class="pogoSlider" id="heroSlider">

         <a href="//shop.powerhandz.com">
         <div class="pogoSlider-slide" data-transition="fade" data-duration="500" style="background-size:cover;background-repeat:no-repeat;background-position: center center;   background-image:url({{ config.ASSET_BASE_URL }}/images/main-hastings-hero.jpg);">
            <div class="row clearfix">
               <div class="heroIntro padding horizontalCenter">
                  <div class="small-12 medium-8 large-6 columns" style="float:left;">
                      <h2 style="text-shadow: 0 0 20px #000" class="pogoSlider-slide-element" data-in="slideRight" data-out="slideLeft" data-duration="700" data-delay="100">Fingerless for Fitness</h2>
                     <div class="divider pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"></div>
                     <p style="text-shadow: 0 0 10px #000" class="pogoSlider-slide-element lead" data-in="expand" data-out="slideRight" data-duration="800" data-delay="600">Introducing the New <strong>POWER</strong>FIT Weighted Training Gloves</p>
                     <div class="pogoSlider-slide-element ctaBtns" data-in="contract" data-out="slideDown" data-duration="800" data-delay="600">
                           <a class="button btnWhite" href="/fitness">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </a>

         <div class="pogoSlider-slide" data-transition="fade" data-duration="500" style="background-size:cover;background-repeat:no-repeat;background-position: center center;   background-image:url({{ config.ASSET_BASE_URL }}/images/main-hero-img-kids.jpg);">
            <div class="row clearfix">
               <div class="heroIntro padding horizontalCenter">
                  <div class="small-12 medium-10 large-6 columns">
                     <h2 class="pogoSlider-slide-element" data-in="slideRight" data-out="slideLeft" data-duration="700" data-delay="100">HANDZ of the FUTURE</h2>
                     <div class="divider pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"></div>
                     <p class="pogoSlider-slide-element lead" data-in="expand" data-out="slideRight" data-duration="800" data-delay="600">POWERHANDZ Mission Is To Inspire Youth Across The Globe.</p>
                     <div class="pogoSlider-slide-element ctaBtns" data-in="contract" data-out="slideDown" data-duration="800" data-delay="600">
                           <a class="button btnWhite" href="/future">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <a href="//shop.powerhandz.com">
         <div class="pogoSlider-slide" data-transition="fade" data-duration="500" style="background-size:cover;background-repeat:no-repeat;background-position: center center;   background-image:url({{ config.ASSET_BASE_URL }}/images/main-hero-img2.jpg);">
            <div class="row clearfix">
               <div class="heroIntro padding verticalCenter">
                  <div class="small-12 medium-8 large-6 small-centered columns">
                     <h2 class="pogoSlider-slide-element text-center" data-in="slideLeft" data-out="slideRight" data-duration="700" data-delay="600">Get the POWER to COMPETE</h2>
                     <div class="dividerCenterWhite pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"></div>
                     <p class="pogoSlider-slide-element text-center lead" data-in="flipX" data-out="expand" data-duration="800" data-delay="600">POWERHANDZ Offers Premier Weighted Sports Training Gloves and Sports Training Aids</p>
                     <div class="row pogoSlider-slide-element ctaBtns" data-in="slideLeft" data-out="slideRight" data-duration="800" data-delay="600">
                        <div class="small-10 medium-8 large-6 columns small-centered">
                           <a class="button btnWhite hollow expanded" href="https://shop.powerhandz.com/">SHOP NOW</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </a>
      </div>
   </div>
   <a name="sports"></a>
   <div class="row ">
       <div class="medium-6 columns small-12 stretched noPadding" style="padding-bottom:0px!important;">
           <a href="#sports"><p style="text-align:center;padding:0.5em;background:#000000;color:#fff;">Choose a Sport</p></a>

       </div>
       <div class="medium-6 columns small-12 stretched noPadding" style="padding-bottom:0px!important;">
           <a href="https://shop.powerhandz.com"><p style="text-align:center;padding:0.5em;background:#bf9b41;color:#000;">Visit the Shop</p></a>
       </div>
   </div>


   <div class="mainWrapper">
      <header id="header" class="topbar-sticky-shrink-header"></header>
      <div class="row stretched noPadding" style="overflow:hidden;">
         <div class="small-12 medium-12 large-12 columns noPadding" style="overflow:hidden;">
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Basketball</span>
                  <a href="/basketball"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/basketball-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Football</span>
                  <a href="/football"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/football-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Baseball</span>
                  <a href="/baseball"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/baseball-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Softball</span>
                  <a href="/softball"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/softball-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Boxing/MMA</span>
                  <a href="/boxing-mma"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/boxing-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
            <div class="small-6 medium-4 large-2 columns noPadding">
               <div class="image-hover-wrapper">
                  <span class="image-hover-wrapper-banner">Fitness</span>
                  <a href="/fitness"><img alt="Weighted Gloves - Sports Training <img  Workout Equipment - POWERHANDZ" src="{{ config.ASSET_BASE_URL }}/images/lifestyle-desktop.jpg">
                  <span class="image-hover-wrapper-reveal">
                  </span>
                  </a>
               </div>
            </div>
         </div>
      </div>

<br/>

      <!-- Intro -->
      <div class="bgWhite">
         <div class="row padding clearfix">
            <div class="small-12 medium-10 large-8 small-centered columns">
               <h5 class="text-center">Global Athletic Training Products Company</h5>
               <div class="dividerCenter"></div>
               <h3 class="text-center">POWERHANDZ Offers Premier Weighted Sports Training Gloves and Sports Training Aids</h3>
               <div class="row ctaBtns">
                  <div class="small-8 medium-5 large-4 small-centered columns">
                     <a class="button hollow btnBlack small expanded" href="//shop.powerhandz.com/">View Products</a>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Section With Background Image Starts -->
      <div class="bgImage relPosition" style="background-image: url('{{ config.ASSET_BASE_URL }}/images/powerfit-launch.jpg'); background-position: 50% 50%;">
         <div class="row stretched padding horizontalCenter">
            <div class="small-12 medium-6 large-6 columns ">
              <h1 style="color:#fff;">Introducing the New <strong>POWER</strong>FIT Weighted Training Gloves.</h1>
              <div class="ctaBtns">
                <a class="button btnMedium wow fadeInUp" href="/fitness">Learn More</a>
                <a class="button btnWhite hollow wow fadeInUp" href="https://shop.powerhandz.com/products/powerfit-gloves">Shop Now</a>
              </div>
            </div>
            <div class="small-12 medium-6 large-6 columns ">
              <div class="flex-video widescreen vimeo">
                <iframe src="https://www.youtube.com/embed/fPYFHCXl9Fc" width="420" height="236" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>

            </div>
         </div>
      </div>
      <!-- Section With Background Image Ends -->


	  <div class="bgBlack">
        <div class="padding">

          <div class="row">
            <div class="small-12 medium-10 large-8 small-centered columns">
              <h3 class="text-center">HANDZ of the FUTURE </h3>
              <h6 class="text-center">  </h6>
              <div class="flex-video widescreen vimeo marginTop">
                <iframe src="https://www.youtube.com/embed/Pkkd-z2KdaQ" width="420" height="236" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% include 'includes/cta.html' %}
      {% include 'includes/testimonials.html' %}
      {% include 'includes/programs.html' %}
      <div class="row stretched">
         <div class="sectionSeparator"></div>
      </div>
      <!-- Blog 3 Column Grid Starts -->
      <ul class="row stretched small-up-1 medium-up-2 large-up-3 blogGrid no-bullet" data-equalizer>
         <li class="column bgWhite" data-equalizer-watch>
            <div class="blogDetails">
               <div class="meta">
                  <p><a href="https://blog.powerhandz.com/category/powerhandz-sports/powerhandz-sports-basketball/"><strong>Basketball</strong></a><span class="smallText"> / 9/21/2017</span></p>
               </div>
               <h2 class="blogTitle"><a href="https://blog.powerhandz.com/powerhandz-sports/powerhandz-sports-basketball/engage-project-phenom-frank-mason-iii/">Engage Project Phenom: Frank Mason III</a></h2>
               <div class="divider"></div>
               <p class="smallText">You may know Frank Mason III’s story… he was the “unwanted recruit” that became the leading man at NCAA powerhouse, Kansas. Now, Frank has become the 2nd round pick for the Sacramento Kings...</p>
               <a class="link" href="https://blog.powerhandz.com/powerhandz-sports/powerhandz-sports-basketball/engage-project-phenom-frank-mason-iii/">go to article <span class="icon-arrow-right"></span></a>
            </div>
         </li>
         <li class="column bgWhite" data-equalizer-watch>
            <div class="blogDetails">
               <div class="meta">
                  <p><a href="https://blog.powerhandz.com/category/powerhandz-products/"><strong>Products</strong></a><span class="smallText"> / 07/26/2017</span></p>
               </div>
               <h2 class="blogTitle"><a href="https://blog.powerhandz.com/powerhandz-products/theres-unity-community-anything-possible/">When There’s Unity in The Community… Anything Is Possible</a></h2>
               <div class="divider"></div>
               <p class="smallText">On Saturday, July 22 the community came under one roof, for one sole purpose… to UNITE TOGETHER. POWERHANDZ, The Power To Give Foundation, Dallas Park & Rec and the Dallas Police Department...</p>
               <a class="link" href="https://blog.powerhandz.com/powerhandz-products/theres-unity-community-anything-possible/">go to article <span class="icon-arrow-right"></span></a>
            </div>
         </li>
         <li class="column bgWhite" data-equalizer-watch>
            <div class="blogDetails">
               <div class="meta">
                  <p><a href="https://blog.powerhandz.com/category/powerhandz-sports/powerhandz-sports-football/"><strong>Football</strong></a><span class="smallText"> / 07/21/2017</span></p>
               </div>
               <h2 class="blogTitle"><a href="https://blog.powerhandz.com/powerhandz-products/are-you-ready-for-some-football/">Are You Ready For Some Football?</a></h2>
               <div class="divider"></div>
               <p class="smallText">It may be the preseason, but we are definitely ready for some football. Every team has reported to training camp and it’s time to grind. Quick hands are one of the most critical elements of...</p>
               <a class="link" href="https://blog.powerhandz.com/powerhandz-products/are-you-ready-for-some-football/">go to article <span class="icon-arrow-right"></span></a>
            </div>
         </li>
      </ul>
      <!-- Blog Grid Ends -->
      <!-- CTA Section Starts -->
      <div class="bgColor">
         <div class="row padding cta">
            <div class="small-12 medium-10 large-8 small-centered columns">
               <h4 class="text-center">Are you ready to take your game to the next level?</h4>
               <div class="row ctaBtns">
                  <div class="small-8 medium-5 large-4 small-centered columns wow fadeInUp">
                     <a href="https://shop.powerhandz.com" class="button expanded btnBlack">SHOP NOW</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CTA Section Ends -->
      <div class="row stretched">
         <div class="sectionSeparator"></div>
      </div>
      {% include 'includes/press.html' %}
   </div>
{% endblock %}
