{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Return Shipping | POWERHANDZ{% endblock %}
{% block content %}
    <style>
    .marketing-site-hero {
      background: url("{{ config.ASSET_BASE_URL }}/images/about-hero.jpg") top right no-repeat;
      height: 60vh;
      background-size: cover;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }

    @media screen and (min-width: 40em) {
      .marketing-site-hero {
        background-position: center center;
      }
    }

    .marketing-site-hero-content {
      max-width: 75rem;
      margin-left:0px!important;
      padding-left: 5%;
      padding-right: 5%;
    }

    .marketing-site-hero-content h1 {
      font-size: 32px;
      color: #ffffff!important;
    }

    .marketing-site-hero-content .button.round {
      border-radius: 5000px;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0;
    }

    .StripeElement {
      background-color: white;
      height: 40px;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }

    .box-error {
      color: white;
      padding: 10px;
      background: #dc3545;
      margin-bottom: 25px;
    }

    .box-success {
      color: white;
      padding: 10px;
      background: green;
      margin-bottom: 25px;
    }
    </style>

    <div class="animsition">
    {% include 'includes/top-bar.html' %}

    <div class="heroWrapper relPosition">
      <div class="marketing-site-hero">
        <div class="marketing-site-hero-content">
          <h1>Submit a Return</h1>
        </div>
      </div>
    </div>

    <div class="bgWhite">
      <div class="row padding clearfix">
        <div class="small-12 medium-12 large-12 columns">
          <div id="contact" class="">
            {% if error %}
              <div class="box-error">{{ error }}</div>
            {% endif %}

            {% if success %}
              <div class="box-success">Thank you for your submission. Your card was successfully charged!</div>
            {% endif %}

            {% if form.errors %}
                <ul class="errors" style="list-style-type: none; padding: 0; margin:0; margin-bottom: 25px;">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% if field_errors is mapping %}
                        {% for subfield_name, subfield_errors in field_errors|dictsort if subfield_errors %}
                            {% for error in subfield_errors %}
                                <li class="box-error">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for error in field_errors %}
                            <li class="box-error">{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            <script src="https://js.stripe.com/v3/"></script>
            <p>If you have returns, please send them to:</p>

            <p>
            Fulfillment Center<br>
            Attention: POWERHANDZ Returns/Exchanges<br>
            11212 Indian Trail<br>
            Dallas, Texas 75229<br><br>
            </p>

            <form action="{{ url_for('return_shipping') }}" id="payment-form" method="post" enctype="multipart/form-data">
              {{ form.csrf_token }}

              <div class="row">
                <div class="large-6 columns">
                  {{ form.first_name }}
                </div>
                <div class="large-6 columns">
                  {{ form.last_name }}
                </div>
              </div>

              <div class="row">
                <div class="large-6 columns">
                  {{ form.email }}
                </div>
                <div class="large-6 columns">
                  {{ form.phone_number }}
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  {{ form.order_number }}
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  {{ form.address.address_line_1 }}
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  {{ form.address.address_line_2 }}
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  {{ form.address.city }}
                </div>
                <div class="large-3 columns">
                  {{ form.address.state }}
                </div>
                <div class="large-3 columns">
                  {{ form.address.zip_code }}
                </div>
                <div class="large-3 columns">
                  {{ form.address.country }}
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  <p>Select all that apply:</p>
                  {{ form.is_damaged }} {{ form.is_damaged.label }}<br>
                  {{ form.is_wrong_size }} {{ form.is_wrong_size.label }}<br>
                  {{ form.is_wrong_quantity }} {{ form.is_wrong_quantity.label }}<br>
                  {{ form.is_no_exchange }} {{ form.is_no_exchange.label }}<br>
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  {{ form.product_image }}
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  {{ form.additional_notes }}
                </div>
              </div>

              <div class="form-row">
                <label for="card-element">Credit or Debit Card</label>
                <div class="row">
                  <div class="large-12 column">
                    <div id="card-element"></div>
                  </div>
                </div>
                <div id="card-errors" role="alert"></div>
              </div>
              <br><br>

              <em>By submitting this form, you authorize POWERHANDZ to charge your card a $10.00 restocking fee.</em><br><br>
              {{ form.submit(class_="button btnBlack") }}
            </form>
            <script>
            // Create a Stripe client.
            var stripe = Stripe('{{ config.STRIPE_PUBLISHABLE_KEY }}');

            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
              base: {
                color: '#32325d',
                lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                  color: '#aab7c4'
                }
              },
              invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
              }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function(event) {
              var displayError = document.getElementById('card-errors');
              if (event.error) {
                displayError.textContent = event.error.message;
              } else {
                displayError.textContent = '';
              }
            });

            // Handle form submission.
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
              event.preventDefault();

              stripe.createToken(card).then(function(result) {
                if (result.error) {
                  // Inform the user if there was an error.
                  var errorElement = document.getElementById('card-errors');
                  errorElement.textContent = result.error.message;
                } else {
                  // Send the token to your server.
                  stripeTokenHandler(result.token);
                }
              });
            });

            function stripeTokenHandler(token) {
              // Insert the token ID into the form so it gets submitted to the server
              var form = document.getElementById('payment-form');
              var hiddenInput = document.createElement('input');
              hiddenInput.setAttribute('type', 'hidden');
              hiddenInput.setAttribute('name', 'stripeToken');
              hiddenInput.setAttribute('value', token.id);
              form.appendChild(hiddenInput);

              // Submit the form
              form.submit();
            }
            </script>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/programs.html' %}
    <style>
    .clientsGrid li, .testimonialsGrid li
    {padding: 4px 14px;
    }
    </style>
    {% include 'includes/press.html' %}
    </div>
{% endblock %}
