{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Team | POWERHANDZ{% endblock %}
{% block content %}
   <div class="animsition">
   {% include 'includes/top-bar.html' %}
<style>

.marketing-site-hero {
  background: url("{{ config.asset_base_url }}/images/about-hero.jpg") top right no-repeat;
  height: 60vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin-left:0px!important;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  color: #ffffff!important;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}



</style>

   <div class="heroWrapper relPosition">
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>THE POWERHANDZ TEAM</h1>
    <div class="divider"></div>
    <p style="color:#ffffff;padding:0.1em 0em 1.2em 0em;max-width:450px;" class="subheader">This is Team POWERHANDZ. We are committed to working with the best of the best. These influential team members are in the top of their respective fields. We have the Power and responsibility to help others achieve their highest potential.</p>
    <a href="https://powerhandz.com/contact" class="button btnWhite hollow">Contact Us</a>
  </div>
</div>

   </div>

<style>


.persongrid {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 0.5em;
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	text-transform: uppercase;
 	padding-bottom: 0.5em;
	margin-bottom: 3em;
	background-color: #111112;

}

.persongrid .minorthings {
	color: #bf9b41;
	font-size: 0.8em;
	min-height: 3em;
}

.littleblackbar{
	height: 3px;
	width: 20%;
	background-color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.neatfolio img {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  z-index: 11110 !important;
}

.neatfolio img:hover {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  }


.neatfolio {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  z-index: 11111 !important;
}


.neatfolio:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  }


</style>



<div class="bgWhite" style="margin-top:-50px;">
        <div class="row padding">

          <div class="small-12 medium-12 large-12 columns">

            <ul class="tabs" data-tabs="c60xfr-tabs" id="tabs-1" role="tablist">
              <li class="tabs-title is-active" role="presentation"><a href="#panel1" aria-selected="true" role="tab" aria-controls="panel1" id="panel1-label">Ambassadors</a></li>
              <li class="tabs-title" role="presentation"><a href="#panel2" role="tab" aria-controls="panel2" aria-selected="false" id="panel2-label">Advisors</a></li>
              <li class="tabs-title" role="presentation"><a href="#panel3" role="tab" aria-controls="panel3" aria-selected="false" id="panel3-label">Founders</a></li>
            </ul><br>

            <div class="tabs-content" data-tabs-content="tabs-1">

              <div class="tabs-panel" id="panel1" role="tabpanel" aria-hidden="true" aria-labelledby="panel1-label">


      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Thumbnails -->
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/it-box.jpg" alt="Isaiah Thomas">

                <h6 class="persongrid">
                  Isaiah Thomas
                  <div class="minorthings">
                     NBA Point Guard
                  </div>
                </h6>
              </div>
            </div>

            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/andre-ward-team.jpg" alt="Andre Ward">

                <h6 class="persongrid">
                  Andre Ward
                  <div class="minorthings">
                     light heavyweight champion
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/cj-beatty-team.jpg" alt="Andre Ward">

                <h6 class="persongrid">
                  CJ Beatty
                  <div class="minorthings">
                     MLB Coach Scout "The Baseball Motivator"
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/justin-dentmon.jpg" alt="David Ortiz">

                <h6 class="persongrid">
                  Justin Dentmon
                  <div class="minorthings">
                     Ambassador Abroad
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/lauren-chamberlain.jpg" alt="David Ortiz">

                <h6 class="persongrid">
                  Lauren Chamberlain
                  <div class="minorthings">
                     Professional Softball Player
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/davidortiz.jpg" alt="David Ortiz">

                <h6 class="persongrid">
                  David Ortiz
                  <div class="minorthings">
                     3X World Champion<br>&amp; 9X All Star
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/jj-wilcox-team.jpg">

                <h6 class="persongrid">
                  JJ WILCOX
                  <div class="minorthings">
                     NFL Dallas Cowboys
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/nicolehage.jpg">

                <h6 class="persongrid">
                  Nicole Hage
                  <div class="minorthings">
                    Former LPGA Pro
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/tyler.jpg">

                <h6 class="persongrid">
                  Tyler Relph
                  <div class="minorthings">
                    Elite Basketball Trainer
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/wallace.jpg">

                <h6 class="persongrid">
                  Wallace Spearmon
                  <div class="minorthings">
                    Olympic Sprinter
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/dribble2much-team.jpg">

                <h6 class="persongrid">
                  Dribble2much
                  <div class="minorthings">
                    Elite Basketball Trainer
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/RonniePrice-team.jpg">

                <h6 class="persongrid">
                  Ronnie Price
                  <div class="minorthings">
                    NBA Athlete
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/BrianDawkins-team.jpg">

                <h6 class="persongrid">
                  Brian Dawkins
                  <div class="minorthings">
                    9x Pro Bowl and 6x All-Pro
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/BrianAnderson.jpg">

                <h6 class="persongrid">
                  Brian Anderson
                  <div class="minorthings">
                    Former MLB Athlete
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/DonaldSloan.jpg">

                <h6 class="persongrid">
                  Donald Sloan
                  <div class="minorthings">
                    NBA Athlete
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/LorenzoAlexander.jpg">

                <h6 class="persongrid">
                  Lorenzo Alexander
                  <div class="minorthings">
                    NFL Athlete
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>
    </div>
              </div>
              <div class="tabs-panel is-active" id="panel2" role="tabpanel" aria-hidden="false" aria-labelledby="panel2-label">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/renjith.jpg">

                <h6 class="persongrid">
                  Renjith Ramachandran
                  <div class="minorthings">
                    Technology Advisor
                    <br>

                  </div>
                </h6>
              </div>
            </div>


            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/Jackson.jpg">



                <h6 class="persongrid">
                  Jackson
                  <div class="minorthings">
                    President of Fluent
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/BrianDawkins2.jpg">

                <h6 class="persongrid">
                  Connie &amp; Brian Dawkins
                  <div class="minorthings">
                    9x Pro Bowl and 6x All-Pro
                  </div>
                </h6>
              </div>
            </div>

            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/BillBurgos.jpg">

                <h6 class="persongrid">
                  Bill Burgos
                  <div class="minorthings">
                    NBA Strength &amp;
                    <br>
                    Conditioning Coach
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/TimBrown.jpg">

                <h6 class="persongrid">
                  Tim Brown
                  <div class="minorthings">
                    2015 NFL Hall of Fame Inductee
                  </div>
                </h6>
              </div>
            </div>

            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/nabors.jpg">

                <h6 class="persongrid">
                  Dr. Issac Nabors
                  <div class="minorthings">
                    Director, Physical Therapy
                  </div>
                </h6>
              </div>
            </div>
            <div class="neatfolio">
              <div class="large-2 small-6 columns">
                <img src="{{ config.asset_base_url }}/images/patobrien.jpg">

                <h6 class="persongrid">
                  Pat O'Brien
                  <div class="minorthings">
                    Professional Golf
                    <br>
                    Instructor
                  </div>
                </h6>
              </div>
            </div>




          </div>
        </div>
    </div>              </div>


              <div class="tabs-panel" id="panel3" role="tabpanel" aria-hidden="true" aria-labelledby="panel3-label">

<div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Thumbnails -->

	  <div class="neatfolio">
      <div class="large-2 small-6 columns">
        <a href="{{ config.asset_base_url }}/files/darnell.pdf"><img src="{{ config.asset_base_url }}/images/DarnellJonesBio.jpg"></a>

        <h6 class="persongrid">Darnell Jones<div class="minorthings">Co-Founder &amp; President</div></h6>
      </div>
	  </div>

	  <div class="neatfolio">
      <div class="large-2 small-6 columns">
        <a href="{{ config.asset_base_url }}/files/danyel.pdf"><img src="{{ config.asset_base_url }}/images/DanyelJonesBio.jpg"></a>

        <h6 class="persongrid">Danyel Surrency Jones<div class="minorthings">CEO &amp; Co-Founder</div></h6>
      </div>
	  </div>
	  <div class="large-3 columns"></div>
          </div>
        </div>
    </div>
              </div>

            </div>
          </div>
        </div>
      </div>
   {% include 'includes/cta.html' %}
<style>
.clientsGrid li, .testimonialsGrid li
{padding: 4px 14px;
}
</style>
   {% include 'includes/testimonials.html' %}
      <!-- CTA Section Starts -->
      <div class="bgColor">
         <div class="row padding cta">
            <div class="small-12 medium-10 large-8 small-centered columns">
               <h4 class="text-center">Are you ready to take your game to the next level?</h4>
               <div class="row ctaBtns">
                  <div class="small-8 medium-5 large-4 small-centered columns wow fadeInUp">
                     <a href="https://shop.powerhandz.com" class="button expanded btnBlack">SHOP NOW</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CTA Section Ends -->

<script type="text/javascript">

$(document).ready(function () {

    $('#heroSlider').pogoSlider({
        autoplay: false,
        pauseOnHover: true,
        displayProgess: false,
        preserveTargetSize: false,
        targetHeight: 4300,
        responsive: true
    }).data('plugin_pogoSlider');

});

</script>
   {% include 'includes/stats.html' %}
   {% include 'includes/press.html' %}
{% endblock %}
