{% extends 'layouts/base.html' %}

{% block meta_description %}Professional Sports Training Products{% endblock %}
{% block meta_author %}POWERHANDZ{% endblock %}
{% block title %}Team | POWERHANDZ{% endblock %}
{% block content %}
   <div class="animsition">
   {% include 'includes/top-bar.html' %}
<style>

.marketing-site-hero {
  background: url("{{ config.ASSET_BASE_URL }}/images/about-hero.jpg") top right no-repeat;
  height: 60vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin-left:0px!important;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  color: #ffffff!important;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

.team-profiles {
    margin-top: -50px;
    background: white;
    padding-top: 50px;
}

.team-profiles .tab-container {
    padding: 25px;
}

.team-profiles .tabs {
    margin-bottom: 25px;
}

.profile-caption {
    margin-bottom: 25px;
	padding: 10px 3px;
	text-align: center;
	background-color: #111112;
}

.profile-caption .name {
    display: block;
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.85em;
	text-transform: uppercase;
}

.profile-caption .title {
    display: block;
	color: #bf9b41;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.75em;
	min-height: 3em;
}

.littleblackbar{
	height: 3px;
	width: 20%;
	background-color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.neatfolio img {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  z-index: 11110 !important;
}

.neatfolio img:hover {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  }


.neatfolio {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  z-index: 11111 !important;
}


.neatfolio:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  }

.clientsGrid li, .testimonialsGrid li
{padding: 4px 14px;
}

</style>

<div class="heroWrapper relPosition">
  <div class="marketing-site-hero">
    <div class="marketing-site-hero-content">
      <h1>THE POWERHANDZ TEAM</h1>
      <div class="divider"></div>
      <p style="color:#ffffff;padding:0.1em 0em 1.2em 0em;max-width:450px;" class="subheader">This is Team POWERHANDZ. We are committed to working with the best of the best. These influential team members are in the top of their respective fields. We have the power and responsibility to help others achieve their highest potential.</p>
      <a href="https://powerhandz.com/contact" class="button btnWhite hollow">Contact Us</a>
    </div>
  </div>
</div>

<div class="team-profiles">
  <div class="row">

    <div class="tab-container">
      <ul class="tabs" data-tabs="c60xfr-tabs" id="tabs-1" role="tablist">
        <li class="tabs-title is-active" role="presentation">
          <a href="#panel1" role="tab" aria-controls="panel1" aria-selected="true" id="panel1-label">Ambassadors</a>
        </li>
        <li class="tabs-title" role="presentation">
          <a href="#panel2" role="tab" aria-controls="panel2" aria-selected="false" id="panel2-label">Advisors</a>
        </li>
        <li class="tabs-title" role="presentation">
          <a href="#panel3" role="tab" aria-controls="panel3" aria-selected="false" id="panel3-label">Founders</a>
        </li>
      </ul>

      <div class="tabs-content" data-tabs-content="tabs-1">

        <div class="tabs-panel" id="panel1" role="tabpanel" aria-hidden="true" aria-labelledby="panel1-label">
          <div class="row">

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/it-box.jpg" alt="Isaiah Thomas">
                <div class="profile-caption">
                  <span class="name">Isaiah Thomas</span>
                  <span class="title">NBA Point Guard</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/andre-ward-team.jpg" alt="Andre Ward">
                <div class="profile-caption">
                  <span class="name">Andre Ward</span>
                  <span class="title">Light Heavyweight Champion</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/cj-beatty-team.jpg" alt="Andre Ward">
                <div class="profile-caption">
                  <span class="name">CJ Beatty</span>
                  <span class="title">MLB Coach Scout "The Baseball Motivator"</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/justin-dentmon.jpg" alt="David Ortiz">
                <div class="profile-caption">
                  <span class="name">Justin Dentmon</span>
                  <span class="title">Ambassador Abroad</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/lauren-chamberlain.jpg" alt="David Ortiz">
                <div class="profile-caption">
                  <span class="name">Lauren Chamberlain</span>
                  <span class="title">Professional Softball Player</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/davidortiz.jpg" alt="David Ortiz">
                <div class="profile-caption">
                  <span class="name">David Ortiz</span>
                  <span class="title">3X World Champion &amp; 9X All Star</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/jj-wilcox-team.jpg">
                <div class="profile-caption">
                  <span class="name">JJ WILCOX</span>
                  <span class="title">NFL Dallas Cowboys</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/nicolehage.jpg">
                <div class="profile-caption">
                  <span class="name">Nicole Hage</span>
                  <span class="title">Former LPGA Pro</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/tyler.jpg">
                <div class="profile-caption">
                  <span class="name">Tyler Relph</span>
                  <span class="title">Elite Basketball Trainer</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/wallace.jpg">
                <div class="profile-caption">
                  <span class="name">Wallace Spearmon</span>
                  <span class="title">Olympic Sprinter</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/dribble2much-team.jpg">
                <div class="profile-caption">
                  <span class="name">Dribble2much</span>
                  <span class="title">Elite Basketball Trainer</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/RonniePrice-team.jpg">
                <div class="profile-caption">
                  <span class="name">Ronnie Price</span>
                  <span class="title">NBA Athlete</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/BrianDawkins-team.jpg">
                <div class="profile-caption">
                  <span class="name">Brian Dawkins</span>
                  <span class="title">9x Pro Bowl and 6x All-Pro</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/BrianAnderson.jpg">
                <div class="profile-caption">
                  <span class="name">Brian Anderson</span>
                  <span class="title">Former MLB Athlete</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/DonaldSloan.jpg">
                <div class="profile-caption">
                  <span class="name">Donald Sloan</span>
                  <span class="title">NBA Athlete</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns end">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/LorenzoAlexander.jpg">
                <div class="profile-caption">
                  <span class="name">Lorenzo Alexander</span>
                  <span class="title">NFL Athlete</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="tabs-panel" id="panel2" role="tabpanel" aria-hidden="false" aria-labelledby="panel2-label">
          <div class="row">

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/renjith.jpg">
                <div class="profile-caption">
                  <span class="name">Renjith Ramachandran</span>
                  <span class="title">Technology Advisor</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/Jackson.jpg">
                <div class="profile-caption">
                  <span class="name">Jackson</span>
                  <span class="title">President of Fluent</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/BrianDawkins2.jpg">
                <div class="profile-caption">
                  <span class="name">Connie &amp; Brian Dawkins</span>
                  <span class="title">9x Pro Bowl and 6x All-Pro</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/BillBurgos.jpg">
                <div class="profile-caption">
                  <span class="name">Bill Burgos</span>
                  <span class="title">NBA Strength &amp; Conditioning Coach</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/TimBrown.jpg">
                <div class="profile-caption">
                  <span class="name">Tim Brown</span>
                  <span class="title">2015 NFL Hall of Fame Inductee</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/nabors.jpg">
                <div class="profile-caption">
                  <span class="name">Dr. Issac Nabors</span>
                  <span class="title">Director, Physical Therapy</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="large-2 small-6 columns end">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/patobrien.jpg">
                <div class="profile-caption">
                  <span class="name">Pat O'Brien</span>
                  <span class="title">Professional Golf Instructor</span>
                </div>
              </div>
            </div>

            <div class="large-2 small-6 columns end">
              <div class="neatfolio">
                <img src="{{ config.ASSET_BASE_URL }}/images/nancy-lieberman-profile.jpg">
                <div class="profile-caption">
                  <span class="name">Nancy Lieberman</span>
                  <span class="title">Basketball Hall of Famer</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="tabs-panel" id="panel3" role="tabpanel" aria-hidden="true" aria-labelledby="panel3-label">

          <div class="row">

            <div class="large-2 small-6 columns">
              <div class="neatfolio">
                <a href="{{ config.ASSET_BASE_URL }}/files/darnell.pdf">
                  <img src="{{ config.ASSET_BASE_URL }}/images/DarnellJonesBio.jpg">
                  <div class="profile-caption">
                    <span class="name">Darnell Jones</span>
                    <span class="title">Co-Founder &amp; President</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="large-2 small-6 columns end">
              <div class="neatfolio">
                <a href="{{ config.ASSET_BASE_URL }}/files/danyel.pdf">
                  <img src="{{ config.ASSET_BASE_URL }}/images/DanyelJonesBio.jpg">
                  <div class="profile-caption">
                    <span class="name">Danyel Surrency Jones</span>
                    <span class="title">CEO &amp; Co-Founder</span>
                  </div>
                </a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>

{% include 'includes/cta.html' %}
{% include 'includes/testimonials.html' %}

<!-- CTA Section Starts -->
<div class="bgColor">
   <div class="row padding cta">
      <div class="small-12 medium-10 large-8 small-centered columns">
         <h4 class="text-center">Are you ready to take your game to the next level?</h4>
         <div class="row ctaBtns">
            <div class="small-8 medium-5 large-4 small-centered columns wow fadeInUp">
               <a href="https://shop.powerhandz.com" class="button expanded btnBlack">SHOP NOW</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- CTA Section Ends -->

<script type="text/javascript">

$(document).ready(function () {

    $('#heroSlider').pogoSlider({
        autoplay: false,
        pauseOnHover: true,
        displayProgess: false,
        preserveTargetSize: false,
        targetHeight: 4300,
        responsive: true
    }).data('plugin_pogoSlider');

});

</script>

{% include 'includes/stats.html' %}
{% include 'includes/press.html' %}

{% endblock %}
